extends layout

block content
  div(class="w3-content w3-container w3-padding-64")
    h1(class='homeTitle') MOTOSPOT

    div
      ul(style= "height: 70vh; overflow: auto")
        each val in list_biketypes
          li(class="bikeSummary")
            a(href=val.url) #{val.name}

        else
          li There are no biketype.
