extends layout

block content
  div(class="w3-content w3-container w3-padding-64")
    h1(class='homeTitle') MOTOSPOT

    form(method='POST' action='')
      div.form-group
        label(for='brand_name') Brand Name:
        input#brand_name.form-control(type='text', placeholder='Type here...' name='brand_name' required='true' value=(undefined===brand ? '' : brand.brand_name) )
      div.form-group
        label(for='founding_date') Founding date:
        input#founding_date.form-control(type='date', name='founding_date' value=(undefined===brand ? '' : brand.founding_date_yyyy_mm_dd) )
      button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg